/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* ======================================================================================
    GENERAL STYLE
========================================================================================*/
body {
    font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
}

.container { position: relative; z-index: 1;}
img { border: 0; }
h1, h2, h3, h4, h5 { font-family: 'Roboto', sans-serif; text-transform: uppercase; margin: 0; padding: 0; }
h2 { font-size: 2em; margin-bottom: 2px;}
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; text-transform: none; }
ul { list-style-type: none; }
p { margin: 20px 0; font-size: 120%; font-weight: 300;}

.our_color { color: #f5503b; }
.inner-title { font-family: 'Open Sans', sans-serif; font-size: 1.5em; font-weight: 300; }
#separate { margin-top: 70px;}

section { padding-top: 98px; }

/*link*/
a { outline: none; color: #f5503b; }
a:hover { text-decoration: none; color: #f5503b }

/*form*/
form input, textarea, submit, button { outline: none; }

/* ======================================================================================
	SLIDER STYLE 
========================================================================================*/
#header { 
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 640px;
	position: relative;
	padding:0;
}

#header h1{ font-size: 2.45em; margin-bottom: 30px; }
#header h2 { font-size: 2em; margin-bottom: 30px; }

#header p {
	font-weight: 100;
	font-size: 1.125em;
	line-height: 1.5em;
	margin: 0 0 40px 0;
}

#header a { color: #fff; }
#header a:hover { color: #fff; }
#header a:hover.button-none { color: #332d26;}


#header{
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
}

/* ======================================================================================
	NAVIGATION STYLE 
========================================================================================*/
.navbar {
	background: none;
	filter: none;
	border: none;
	box-shadow: none;
	background-color: #332d26;
	height: 70px;
	color: none;
}
.navbar .navbar-header { height: 70px; padding: 10px 0px; }
.navbar ul li {
	height: 70px;
	padding: 10px 0px;
	margin: 0;
	color: #FFF;
}

.navbar-default .navbar-nav > li > a { 
	height: 60px; 
	color: #fff; 
	text-transform: uppercase; 
	font-size: 14px;
	-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
	transition: 0.3s;
	outline: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: #f5503b; border-bottom: 2px solid #f5503b;}

.navbar-default .navbar-nav > li.currentClass a { color: #f5503b; border-bottom: 2px solid #f5503b; }


/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.navbar-collapse {
		margin: 0px;
		background: #332d26;
		padding: 5px 30px;
		border: none;
	}
	.navbar ul li { padding: 5px; height: 40px;}
	.navbar-default .navbar-nav > li > a { height: 40px; }
	.navbar-default .navbar-nav > li > a:hover { border: none; background: #46413b; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}

.servicesslider { background: red; width: 100%; }
